.header-container{
    background: #FBE0C3;
    height: 100%;
    width: 100%;
        h1{
        font-weight: 400;
        padding: 0.2rem;
        }  

        &_link{
            padding: 1rem 1rem 0.5rem 1rem;
            margin: 0.5rem;
            border-radius: 20px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #FFBB98;
        }
}

 