.homeHandle{
    display: flex;
    justify-content:space-around;
    padding: 1rem;
    width: 90%;
    margin: auto;
    & p{
        font-weight: 700;
    }
    &_btn{
        margin: auto 0rem;
        width: 100%;
        font-size: 1.5rem;
    }
}
.postCreated{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    &_container{
        display: flex;
    }
}

.postBtn_close{
    display: flex;
    width: 1rem;
    align-items: center;
    justify-content: center;
}