.navigation_link{
        padding: 1rem 1rem 0.5rem 1rem;
        margin: 0.5rem 1rem;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $color-7;
}

.nav-active{
        border-bottom: 1px solid $color-6;
        transition: 0.5s;
        color: white;
}

.nav-passive{
        color: $color-6;
}
