.navigation_link{
        padding: 1rem 1rem 0.5rem 1rem;
        margin: 0.5rem;
        // border-radius: 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $color-2;
}

.nav-active{
        border-bottom: 1px solid $color-1;
        transition: 0.5s;
        color: white;
}

.nav-passive{
        color: #a6b7cf;
}
